body{
    background-color: #D5F5E3;
  
}

main{
 
    border:  10px solid  #fbff2c;
   margin-left: 70px;
   margin-right: 70px;
   margin-top: 30px;
   /* float: left; */
   /* flex-wrap: wrap-reverse; */
    
}