body{
    background-color: #D5F5E3;
}
main{
 
   border:  10px solid  #fbff2c;
   margin-left: 60px;
   margin-right: 60px;
   margin-top: 30px;
   float: left;
    
}

.photo-template{
    display: none;
}
div{
  
    border: 10px solid #006E6D; 
  float: left;
    padding-left: 40px;
    visibility:visible;
    
}
img {   width: 300px;  
      height: 300px;    
      
    padding: 10px;  
    margin: 10px;  
   
     border-radius: 5px;  
    } 
    h2 ,h3 {
        text-align: center;
        font-family: 'Sansita Swashed', cursive;
    }
    p{
      
        text-align: center;
        width: 300px;
        height: 100px;
        font-family: 'Sansita Swashed', cursive;
    }
    h1{
        text-align: center;
    }
    select{
        margin-left: 600px;
        background-color: #006E6D;
        color: wheat;
    }

    footer{
        text-align: center;
    }
 

   
   