


.photo-template{
    display: none;
}

section{
   
    display: flex;
    flex-wrap: wrap;
}
div{
 
    border: 10px solid #006E6D; 
   
      padding-left: 40px;
      visibility:visible;
      
  }
img {   width: 300px;  
      height: 300px;    
      
    padding: 10px;  
    margin: 10px;  
   
     border-radius: 5px;  
    } 
    h2 ,h3 {
        width: 300px;
        text-align: center;
        font-family: 'Sansita Swashed', cursive;
        
    }
    p{
      
        text-align: center;
        width: 300px;
        height: 100px;
        font-family: 'Sansita Swashed', cursive;
    }
    h1{
        text-align: center;
    }
    select{
        margin-left: 600px;
        background-color: #006E6D;
        color: wheat;
        padding: 20px;
        
    }

    footer{
        text-align: center;
    }
 #pageOne , #pageTow {
     background-color: skyblue;
     margin: 10px;
     
     border: skyblue;
     padding: 10px;
 }
#hornse ,#title{
    background-color: rgb(154, 195, 243);
     margin: 10px;
     
     border: rgb(97, 163, 238);
     padding: 10px;
}
   
   